.entire-container {
  display: flex;
  align-items: flex-start;
  background-color: pink;
  /* flex-direction: column; */
}
.job-column {
  display: inline-block;
  margin: 8px;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px;
  width: 300px;
  min-height: 600px;
  background-color: #61dafb;
}

.columndrag {
  background-color: gold;
  min-height: 500px;
}

.column-inside {
  background-color: lightseagreen;
  min-height: 500px;
}
.job-ul {
  list-style-type: none;
}

.job-cards {
  border: 1px solid gray;
  margin: 4px;
  background-color: white;
}
.job-cards-moving {
  border: 1px solid gray;
  margin: 4px;
  background-color: bisque;
}

.title {
  margin-bottom: 10px;
  min-height: 100px;
  background-color: ghostwhite;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.cards {
  background-color: aqua;
  width: fit-content;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
